.bodyt {
  background-color: azure;
}

#header {
  padding: 2px;
  background-color: rgb(227, 160, 160);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center; 
  background-color: rgb(227, 160, 160);
}

nav ul li {
  padding: 10px 20px; 
  margin-left: 20px;
  border: 2px solid white; 
  border-radius: 5px; 
  background-color: rgba(150, 98, 114, 0.684);
  
}

nav ul li:first-child {
  margin-right: auto; 
}

nav ul li a {
  color: white;
  text-decoration: none;
}


.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
  gap: 10px; 
}


.articlet {
  flex: 1 1 65%; 
  padding: 20px;
  background-color: lightgray;
  box-sizing: border-box; 
  max-width: 100%; 
}


.asidet {
  flex: 1 1 30%;
  padding: 20px;
  background-color: aquamarine;
  box-sizing: border-box; 
  max-width: 100%; 
}


.sect {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

section {
  border: 2px solid black; 
  padding: 10px;
}

@media (max-width: 768px) {
  .articlet {
    flex: 1 1 50%;
    padding: 15px;
  }

  .asidet {
    flex: 1 1 50%; 
    padding: 15px;
  }
}


@media (max-width: 480px) {
  .articlet {
    flex: 1 1 100%; 
    padding: 10px;
  }

  .asidet {
    flex: 1 1 100%; 
    padding: 10px;
  }
}

.section1,
.section2,
.section3 {
  border: 2px solid black;
  margin-top: 2px;
  overflow: hidden;
}

.footert {
  margin-top: 3px;
  background-color: #e3a0a0;
}
